# Cleaning and Exploring the Demographics and Programs data

In [49]:
import pandas as pd
import numpy as np
import openpyxl

In [50]:
df = pd.read_excel('All demographics and programs.xlsx')

In [ ]:
def data_cleaning(df):

,Auto Id,First Name,Last Name,Gender,Race,Ethnicity Hispanic/Latino,Outcome,Veteran,Ex-Offender,Justice Involved,Single Parent,Program: Program Name
0,202107-1206,name,name,Male,Black or African American,NaN,NaN,No,NaN,NaN,NaN,Reimage 21-22
1,202107-1206,name,name,Male,Black or African American,NaN,NaN,No,NaN,NaN,NaN,Reimage 21-22
2,202107-1206,name,name,Male,Black or African American,NaN,NaN,No,NaN,NaN,NaN,Reimage 21-22
3,202108-5167,name,name,Male,Asian,NaN,Successfully Completed,No,NaN,No,NaN,Tech Louisville 21-22
4,202108-5171,name,name,Male,Black or African American,NaN,NaN,NaN,NaN,NaN,NaN,Tech Louisville 21-22

In [52]:
# drop the first name and last name columns since they don't have any names
# drop single parent because it is empty (only 1 row has 'No')
# drop Ethnicity Hispanic/Latino because it is all null
# drop Ex-Offender because only 1 row has No and the rest are null

df_dropped = df.drop(columns=['First Name','Last Name','Ethnicity Hispanic/Latino',
                              'Single Parent','Ex-Offender','Program: Program Name'])

In [53]:
# what does 'not applicable' mean for Veteran column
# what does Justice Involved column mean?

df_dropped.head()

,Auto Id,Gender,Race,Outcome,Veteran,Justice Involved
0,202107-1206,Male,Black or African American,NaN,No,NaN
1,202107-1206,Male,Black or African American,NaN,No,NaN
2,202107-1206,Male,Black or African American,NaN,No,NaN
3,202108-5167,Male,Asian,Successfully Completed,No,No
4,202108-5171,Male,Black or African American,NaN,NaN,NaN

In [54]:
# combined Transgender M to F and F to M to the category 'Transgender' because there were only 
# 16 that identifed M to F or F to M
df_dropped['Gender'] = df_dropped['Gender'].str.replace('Transgender female to male','Transgender')
df_dropped['Gender'] = df_dropped['Gender'].str.replace('Transgender male to female','Transgender')

In [ ]:
# splitting up the multiple options for race
splitting = df_dropped['Race'].str.split(';', expand=True)
splitting.columns = [f'Race_{i+1}' for i in range(splitting.shape[1])]
df_cleaned = pd.concat([df_dropped, splitting], axis=1)

In [62]:
df_clean = df_cleaned.drop(columns=['Race'])

In [ ]:
# what does 'not applicable' mean for Veteran column
# what does Justice Involved column mean?
df_clean

,Auto Id,Gender,Outcome,Veteran,Justice Involved,Race_1,Race_2,Race_3,Race_4
0,202107-1206,Male,NaN,No,NaN,Black or African American,None,None,None
1,202107-1206,Male,NaN,No,NaN,Black or African American,None,None,None
2,202107-1206,Male,NaN,No,NaN,Black or African American,None,None,None
3,202108-5167,Male,Successfully Completed,No,No,Asian,None,None,None
4,202108-5171,Male,NaN,NaN,NaN,Black or African American,None,None,None
...,...,...,...,...,...,...,...,...,...
32225,202502-20671,Female,NaN,NaN,NaN,White,None,None,None
32226,202410-17602,Female,NaN,NaN,NaN,White,None,None,None
32227,202506-23809,Female,NaN,NaN,NaN,White,None,None,None
32228,202410-17749,Female,NaN,NaN,NaN,White,None,None,None
32229,202505-23270,Male,NaN,NaN,NaN,White,None,None,None